# Dependencies
node_modules/
npm-debug.log
yarn-error.log
.yarn/install-state.gz

# Expo
.expo/
.expo-shared/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.project
.classpath

# OS
Thumbs.db
.DS_Store

# Testing
coverage/
.nyc_output/

# Misc
*.log
.cache/
